@model OrderHeaderDto

<div class="row col-12 pt-lg-5">
    <div class="col-6">
        <h3 class="text-info pt-4">Congratulations!<br/>Your order number @Model.OrderHeaderId was confirmed!</h3>
        <p class="pb-3">We have received your order and will be ready in 30minutes <br/> during regular business hours!</p>
        
        <div class="card-body" style="background: linear-gradient(white, white) padding-box, 
                                                  linear-gradient(to right, #F2570A, #0000ff) 
                                                  border-box; border-radius: 10px 50px 10px 50px; border: 3px solid transparent;">

            <div class="d-flex align-items-center pt-3 ps-4">
                <i class="bi bi-geo-alt-fill mx-1" style="color: #F2570A; font-size: 20px"></i>
                <span class="pe-1">Delivery in:</span>
                <h6 style="margin: 0">@Model.Address</h6>
            </div>
            <div class="d-flex align-items-center pt-3 ps-4">
                <i class="bi bi-stopwatch mx-1" style="color: #F2570A; font-size: 20px"></i>
                <span class="pe-1">Estimated time:</span>
                <h6 style="margin: 0">20 - 30 minutes</h6>
            </div>
            <div class="d-flex align-items-center py-3 ps-4 mb-2">
                <i class="bi bi-currency-dollar mx-1" style="color: #F2570A; font-size: 20px"></i>
                <span class="pe-1">Total:</span>
                <h6 style="margin: 0">@Model.OrderTotal.ToString("c")</h6>
            </div>
        </div>
    </div>
    <div class="col-6 my-auto">
        <div class="d-flex align-items-center justify-content-center">
            <img src="/images/delivery.svg" width="80%" alt="Delivery"/>
        </div>
    </div>
</div>

