@model CouponDto

<form asp-action="CouponDelete">
    <br />
    <div class="container rounded border p-3">
        <h1 class="text-center">Delete Coupon</h1>
        <input asp-for="CouponId" hidden />
        <hr />
        <div class="row mx-auto col-8">
            <div>
                <label class="control-label pt-2" style="font-size:20px;"> Coupon Code</label>
            </div>
            <div>
                <input asp-for="CouponCode" disabled class="form-control" />
            </div>
            <div>
                <label class="control-label pt-2" style="font-size:20px;">Discount Amount</label>
            </div>
            <div>
                <input asp-for="DiscountAmount" disabled class="form-control" />
            </div>
            <div>
                <label class="control-label pt-2" style="font-size:20px;">Minimum Amount</label>
            </div>
            <div>
                <input asp-for="MinAmount" disabled class="form-control" />
            </div>
            
            <div class="d-flex justify-content-between pt-4">
                <div class="col-5">
                    <a asp-action="CouponIndex" class="btn-primary btn form-control ">Back to List</a>
                </div>
                <div class="col-5">
                    <input type="submit" value="Delete" class="btn btn-danger form-control" />
                </div>
            </div>
            

        </div>

        <div>
        </div>
    </div>
</form>