
<form>
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3 d-flex justify-content-between">
            <div class="row">
                <h1 class="text-white py-1" style="margin: 0">Contact</h1>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}